Repository govuk-one-login/di-account-management-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-fix, integration-tests-check

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.2.5

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint
        name: Git Lint
        stages: [commit-msg]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: detect-private-key
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
        exclude: "package.json|package-lock.json|.*test.*\\.ts$|\\.pre-commit-config\\.yaml$"
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: no-commit-to-branch

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        exclude: "package.json|package-lock.json|src/.*/.*.test.ts|locales/.*.json"

  - repo: local
    hooks:
      - id: npm-audit
        name: NPM Audit
        pass_filenames: false
        entry: "npm run audit"
        language: system

      # replace lint-staged
      - id: prettier-fix
        name: Prettier Fix
        entry: npx prettier --write
        language: system
        files: \.(js|jsx|ts|tsx|json|css|scss|md|yaml)$

      - id: integration-tests-check
        name: Integration tests check
        entry: bash -c "cd integration-tests && npm run check-types && npm run lint"
        language: system
        files: ^integration-tests/
        pass_filenames: false

OLH-3516: Remove duplicated prettier hook
  .pre-commit-config.yaml
Due: prettier-fix

OLH-3516: tidy up entry for integration test folder
  .pre-commit-config.yaml
  integration-tests/package.json
Due: prettier-fix, integration-tests-check

BAU: load analytics script with defer
  src/components/common/layout/base.njk
Due: none

BAU: bump govuk-frontend script down
  src/components/common/layout/base.njk
Due: none

OLH-3720 Add passing integration tests
  integration-tests/tests/features/@change-phone-number.feature
  integration-tests/tests/steps/@change-phone-number.ts
  src/components/change-phone-number/change-phone-number-controller.ts
  src/locales/en/translation.json
Due: prettier-fix, integration-tests-check

BAU: fix script order
  src/components/common/layout/base.njk
Due: none

OLH-3720 Add Welsh to translations, update integration test packages
  src/locales/cy/translation.json
Due: prettier-fix

OLH-3720 Fix package vulnerabilities
  package-lock.json
Due: prettier-fix

BAU: fix nonce
  src/components/common/ga4-opl/template.njk
  src/components/common/layout/base.njk
Due: none

OLH-3720 Fix step in feature tests
  integration-tests/tests/steps/@change-phone-number.ts
Due: prettier-fix, integration-tests-check

OLH-3720 Address PR comments from Dana
  integration-tests/tests/features/@change-phone-number.feature
  src/assets/javascript/international-phone.js
  src/components/change-phone-number/no-uk-phone-number.njk
  src/components/common/mfa/add-phone-number.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: prettier-fix, integration-tests-check

OLH-3768: update RP registry
  package-lock.json
  package.json
Due: prettier-fix

OLH-3768: fixed tests
  test/unit/utils/yourServices.test.ts
Due: prettier-fix

OLH-755: ensure integration tests
  package.json
Due: prettier-fix

OLH-755: added static-hash.json as it cannot find file
  src/utils/generate-static-hash.ts
  src/utils/static-hash.json
  src/utils/static-hash.ts
Due: prettier-fix

OLH-755: ensure integration tests are running
  package.json
Due: prettier-fix

OLH-755: configured tests to run on ESM by also building first
  .mocharc.json
  package.json
  src/services/event-service.test.ts
  src/utils/mfa/index.test.ts
  test/unit/app.test.ts
Due: prettier-fix

OLH-3768: update commit
  package-lock.json
  package.json
Due: prettier-fix

OLH-3768: update commit
  test/unit/utils/yourServices.test.ts
Due: prettier-fix

OLH-3720 Update redirect in Change Phone Number Controller
  src/components/change-phone-number/change-phone-number-controller.ts
Due: prettier-fix

OLH-3720 Remove copy javascript from copy-scripts
  package.json
Due: prettier-fix

OLH-3720 Remove copy dist/public/scripts from copy-scripts
  package.json
Due: prettier-fix

OLH-755: changed the unit tests
  src/components/check-your-email/check-your-email-routes.ts
  src/config/oidc.ts
  test/unit/config.test.ts
  test/unit/config/nunjucks.test.ts
  test/unit/handlers/csrf-error-handler.test.ts
  test/unit/handlers/error-handler.test.ts
  test/unit/middleware/auth-middleware.test.ts
  test/unit/middleware/check-allowed-services-list.test.ts
  test/unit/middleware/csrf-middleware.test.ts
  test/unit/middleware/form-validation-middleware.test.ts
  test/unit/middleware/is-user-logged-in-middleware.test.ts
  test/unit/middleware/language-toggle-middleware.test.ts
  test/unit/middleware/log-error-middleware.test.ts
  test/unit/middleware/mfa-method-middleware.test.ts
  test/unit/middleware/monkey-patch-redirect-to-save-session-middleware.test.ts
  test/unit/middleware/no-cache-middleware.test.ts
  test/unit/middleware/outbound-contact-us-links-middleware.test.ts
  test/unit/middleware/overload-protection-middleware.test.ts
  test/unit/middleware/requires-auth-middleware.test.ts
  test/unit/middleware/sanitize-request-middleware.test.ts
  test/unit/middleware/set-local-vars-middleware.test.ts
  test/unit/middleware/update-session-middleware.test.ts
  test/unit/middleware/validate-state-middleware.test.ts
  test/unit/utils/activityHistory.test.ts
  test/unit/utils/createTimedMemoize.test.ts
  test/unit/utils/language.toggle.test.ts
  test/unit/utils/logger.test.ts
  test/unit/utils/oidc.test.ts
  test/unit/utils/phone-number.test.ts
  test/unit/utils/present-activity-history.test.ts
  test/unit/utils/prettifyDate.test.ts
  test/unit/utils/referenceCode.test.ts
  test/unit/utils/safeTranslate.test.ts
  test/unit/utils/state-machine.test.ts
  test/unit/utils/strings.test.ts
  test/unit/utils/yourServices.test.ts
  test/utils/behaviours.ts
  test/utils/builders.ts
  test/utils/logger.test.ts
Due: prettier-fix

OLH-3720 Fix testing actions
  integration-tests/tests/features/@change-phone-number.feature
  src/components/change-phone-number/tests/change-phone-number-integration.test.ts
  src/components/common/mfa/add-phone-number.njk
Due: prettier-fix, integration-tests-check

OLH-3720 Remove trailing comma
  src/components/change-phone-number/no-uk-phone-number.njk
Due: none

OLH-3720 Fix integration tests
  integration-tests/tests/features/@change-phone-number.feature
Due: integration-tests-check

OLH-3718 Add No UK mobile phone link to change default method
  src/components/change-default-method/index.njk
Due: none

BAU: bumped prod dependencies
  package-lock.json
  package.json
Due: prettier-fix

OLH-3720 Add unit tests for no uk phone number page variants
  src/components/change-phone-number/change-phone-number-controller.ts
  src/components/change-phone-number/no-uk-phone-number.njk
  src/components/change-phone-number/tests/change-phone-number-controller.test.ts
Due: prettier-fix

OLH-3861: updated DWP Access To Work's Prod Client ID
  package-lock.json
  package.json
Due: prettier-fix

OLH-3720 Adjust implementation of reading request origin
  src/components/change-phone-number/change-phone-number-controller.ts
  src/components/change-phone-number/tests/change-phone-number-controller.test.ts
  src/components/common/mfa/add-phone-number.njk
Due: prettier-fix

OLH-3720 Fix all unit tests for change uk phone number controller
  src/components/change-phone-number/change-phone-number-controller.ts
  src/components/change-phone-number/no-uk-phone-number.njk
  src/components/change-phone-number/tests/change-phone-number-controller.test.ts
  test/utils/builders.ts
Due: prettier-fix

OLH-3720 Add integ test for no UK Phone number with Authenticator backup
  integration-tests/tests/features/@change-phone-number.feature
  integration-tests/tests/steps/@change-phone-number.ts
Due: prettier-fix, integration-tests-check

OLH-3720 Pass feature tests for no UK mobile phone variants
  integration-tests/tests/features/@change-phone-number.feature
  integration-tests/tests/steps/@change-phone-number.ts
  src/components/change-phone-number/no-uk-phone-number.njk
Due: prettier-fix, integration-tests-check
